{% extends "base.html" %}

{% block title %} mirastonishing - All Blog Posts {% endblock title %}

{% block content %}

    <h1>Blog</h1>
    <p>Here are my latest articles, todo ...</p>

{% for post in post_list %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="post-data">{{ post.author }} | {{ post.created_on}} </p>
            <p class="card-text">{{ post.description }} </p>
            <a href="{% url 'post_detail' post.slug  %}">Read More</a>
        </div>
    </div>
{% endfor %}

{% endblock content %}